# Python OOP (part1)
> About namespace

- toc:true
- branch: master
- badges: true
- comments: true
- author: John Li
- categories: [Visulization, Altair]

Acknowledgement
- Examples are from Raymond Hettinger's PyCon2020 talk; [link](https://www.youtube.com/watch?v=8moWQ1561FY)

## First way of supporting namespace: dict()

In [19]:
d = dict()
d['john'] = 'tennis'
d['john']

'tennis'

## Second way of supporting namespace: globals()

In [20]:
import pandas as pd
x = 10
df = pd.DataFrame({'id':range(1,3)})
df

   id
0   1
1   2

In [21]:
globals()['df']

   id
0   1
1   2

In [22]:
print(x)
globals()['x'] = 100
print(x)

10
100

In [23]:
### Beautiful is better than ugly.
import this

## Third way of supporting namespace: from types import SimpleNamespace

In [28]:
from types import SimpleNamespace
ns = SimpleNamespace(a = 99, b = 100)
ns

namespace(a=99, b=100)

## Emulate how dictionaries work

### Manually adding to "dictionary"

In [36]:
n = 8
karr = [ [] for i in range(n)]
varr = [ [] for i in range(n)]
print(karr)
print(varr)

[[], [], [], [], [], [], [], []]
[[], [], [], [], [], [], [], []]

In [37]:
key, value = 'john', 'tennis'
i = hash(key) % n
i

0

In [38]:
### manually typing commands to insert into "dictonary"
karr[i].append(key)
varr[i].append(value)
print(karr)
print(varr)

[['john'], [], [], [], [], [], [], []]
[['tennis'], [], [], [], [], [], [], []]

### Using function to add to "dictionary"

In [85]:
def setup():
    global n, karr, varr
    n = 8
    karr = [ [] for i in range(n)]
    varr = [ [] for i in range(n)]

def store(key, value):
    i = hash(key) % n
    karr[i].append(key)
    varr[i].append(value)

def lookup(key):
    i = hash(key) % n
    try:
        j = karr[i].index(key)
    except ValueError:
        raise KeyError(key)
    return varr[i][j]

In [86]:
setup()
store('john', 'tennis')
store('jack', 'card')
store('mark', 'soccer')
store('sophie', 'basketball')

In [87]:
print(karr)
print(varr)

[['john', 'sophie'], [], ['mark'], ['jack'], [], [], [], []]
[['tennis', 'basketball'], [], ['soccer'], ['card'], [], [], [], []]

In [88]:
print(lookup('sophie'))

basketball

The big problem is that there is only one namespace; and there is only one dictionary that can be used.

In [89]:
### Passing dictionary as namespace
def setup(ns: dict):

    ns['n'] = 8
    ns['karr'] = [ [] for i in range(ns['n'])]
    ns['varr'] = [ [] for i in range(ns['n'])]

def store(ns, key, value):
    i = hash(key) % ns['n']
    ns['karr'][i].append(key)
    ns['varr'][i].append(value)

def lookup(ns, key):
    i = hash(key) % ns['n']
    try:
        j = ns['karr'][i].index(key)
    except ValueError:
        raise KeyError(key)
    return ns['varr'][i][j]

ns1={}
setup(ns1)
store(ns1, 'john', 'tennis')
store(ns1, 'jack', 'card')
store(ns1, 'mark', 'soccer')
store(ns1, 'sophie', 'basketball')


ns2={}
setup(ns2)
store(ns2, 'john', 'iphone')
store(ns2, 'jack', 'ipad')
store(ns2, 'mark', 'android')
store(ns2, 'sophie', 'chrome')

ns3=globals()
setup(ns3)
store(ns3, 'john', 'red')
store(ns3, 'jack', 'green')
store(ns3, 'mark', 'blue')
store(ns3, 'sophie', 'yellow')

In [90]:
ns1

{'n': 8,
 'karr': [['john', 'sophie'], [], ['mark'], ['jack'], [], [], [], []],
 'varr': [['tennis', 'basketball'], [], ['soccer'], ['card'], [], [], [], []]}

In [91]:
ns2

{'n': 8,
 'karr': [['john', 'sophie'], [], ['mark'], ['jack'], [], [], [], []],
 'varr': [['iphone', 'chrome'], [], ['android'], ['ipad'], [], [], [], []]}

In [92]:
print(ns3['karr'])
print(ns3['varr'])

[['john', 'sophie'], [], ['mark'], ['jack'], [], [], [], []]
[['red', 'yellow'], [], ['blue'], ['green'], [], [], [], []]

In [93]:
varr

[['red', 'yellow'], [], ['blue'], ['green'], [], [], [], []]

Let's use simple namespace to make things a little "prettier"

In [99]:
def setup(ns: SimpleNamespace):
    ns.n = 8
    ns.karr = [ [] for i in range(ns.n)]
    ns.varr = [ [] for i in range(ns.n)]

def store(ns, key, value):
    i = hash(key) % ns.n
    ns.karr[i].append(key)
    ns.varr[i].append(value)

def lookup(ns, key):
    i = hash(key) % ns.n
    try:
        j = ns.karr[i].index(key)
    except ValueError:
        raise KeyError(key)
    return ns.varr[i][j]

ns1 = SimpleNamespace()
setup(ns1)
store(ns1, 'john', 'tennis')
store(ns1, 'jack', 'card')
store(ns1, 'mark', 'soccer')
store(ns1, 'sophie', 'basketball')


ns2 = SimpleNamespace()
setup(ns2)
store(ns2, 'john', 'iphone')
store(ns2, 'jack', 'ipad')
store(ns2, 'mark', 'android')
store(ns2, 'sophie', 'chrome')

In [100]:
ns1

namespace(n=8,
          karr=[['john', 'sophie'], [], ['mark'], ['jack'], [], [], [], []],
          varr=[['tennis', 'basketball'],
                [],
                ['soccer'],
                ['card'],
                [],
                [],
                [],
                []])

In [101]:
ns2

namespace(n=8,
          karr=[['john', 'sophie'], [], ['mark'], ['jack'], [], [], [], []],
          varr=[['iphone', 'chrome'],
                [],
                ['android'],
                ['ipad'],
                [],
                [],
                [],
                []])

Finally, let's use Class (Python OOP)

In [104]:
class Dict:
    def setup(self):
        self.n = 8
        self.karr = [ [] for i in range(self.n)]
        self.varr = [ [] for i in range(self.n)]

    def store(self, key, value):
        i = hash(key) % self.n
        self.karr[i].append(key)
        self.varr[i].append(value)

    def lookup(self, key):
        i = hash(key) % self.n
        try:
            j = self.karr[i].index(key)
        except ValueError:
            raise KeyError(key)
        return self.varr[i][j]

d1 = Dict()
d1.setup()
d1.store('john', 'tennis')
d1.store('jack', 'card')
d1.store('mark', 'soccer')
d1.store('sophie', 'basketball')

d2 = Dict()
d2.setup()
d2.store('john', 'iphone')
d2.store('jack', 'ipad')
d2.store('mark', 'android')
d2.store('sophie', 'chrome')

In [106]:
d1.lookup('sophie')

'basketball'

In [107]:
d2.lookup('john')

'iphone'

Let's make the methods calling easier

In [108]:
class Dict:
    def __init__(self):
        self.n = 8
        self.karr = [ [] for i in range(self.n)]
        self.varr = [ [] for i in range(self.n)]

    def __setitem__(self, key, value):
        i = hash(key) % self.n
        self.karr[i].append(key)
        self.varr[i].append(value)

    def __getitem__(self, key):
        i = hash(key) % self.n
        try:
            j = self.karr[i].index(key)
        except ValueError:
            raise KeyError(key)
        return self.varr[i][j]

d1 = Dict()
d1['john'] = 'tennis'
d1['jack'] = 'card'
d1['mark'] = 'soccer'
d1['sophie'] = 'basketball'

d2 = Dict()
d2['john'] = 'iphone'
d2['jack'] = 'ipad'
d2['mark'] =  'android'
d2['sophie'] = 'chrome'

In [110]:
d1['sophie']

'basketball'

In [113]:
d2['john']

'iphone'